{% load i18n common_tags static %}
<table class="table table-fixed" width="100%">
    <thead>
        <tr>
            <td class="col-xs-4">Title</td>
            <td class="col-xs-1">Category</td>
            <td class="col-xs-2">Player #1</td>
            <td class="col-xs-2">Player #2</td>
            <td class="col-xs-1">Date</td>
            <td class="col-xs-5">Actions</td>
        </tr>
    </thead>
    {% for game in games %}
    <tr class="game">
        <td>
            <a href="{% url 'game_show' game.id %}">
                {{game.title}}
            </a>
        </td>
        <td>
           {{ game.category_name }}
        </td>
        <td>
            <a href="{%  url 'profile_show' game.first_player.id %}">{{ game.first_player.get_full_name }}</a>
        </td>
        <td> 
             <a href="{%  url 'profile_show' game.second_player.id %}">{{ game.second_player.get_full_name }}</a>
        </td>
        <td> {{ game.played_date}}</td>
        <td> 
            <a href="{% url 'game_edit_approval' game.id %}">Edit Approval</a> 
        </td>
    </tr>
    {% endfor %}
</table>