{% extends "layout/default/base.html" %}
{% load i18n common_tags static %}
{% block content %} 
 <div class="tabbable-panel">
    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li>
                <a href="{% url 'games_index' %}">Latest Games</a>
            </li>
            <li>
                <a href="{% url 'page_wins' %}">Wins</a>
            </li>
            <li class="active">
                 <a href="{% url 'page_losts' %}">Losts</a>
            </li>
            <li>
                <a href="{% url 'page_draws' %}">Draws</a>
            </li>
            <li>
                <a href="{% url 'approvals' %}">For Approval</a>
            </li>
            <li>
                <a href="{% url 'page_rejected' %}">Rejected</a>
            </li>

        </ul>
        <div class="tab-content">
            <h4>Today {% now "F d" %}</h4>
            {% include "games/listing.html" with games=games %}
        </div>
     </div>
</div>
{% endblock %}