{% load static %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div class="logo"><a href="/"><img src="{% get_static_prefix %}images/logo.png"/></a></div>
        </div>
        <div class="navbar-form navbar-right">
            <form class="navbar-form">
                {% if user.is_authenticated %}
                    <a href="{% url 'games_add' %}" class="btn btn-success btn-outline">Add</a>
                    <a href="{% url 'profile_edit'%}">Profile</a>
                    <a href="{% url 'django.contrib.auth.views.logout' %}" class="">Logout</a>
                {% else %}
                     <a href="{% url 'django.contrib.auth.views.login' %}">Login</a>
                     <a href="{% url 'registration_register' %}" >Register</a>
                {% endif %}
            </form>
        </div>
    </div>
</nav>